@page
@model WebApp.Pages.Parametro.GridModel
@{
}


<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Parametro
        </div>
        <div class="card-body">
            <h5 class="card-title">Parametro</h5>

            <div class="row">
                <div clss ="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>




            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
